.input-container {
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin-left: 15px;
  height: fit-content;
}

.input-box {
border-radius: 10px;
position: relative;
}

.drop {
  position: absolute;
  top: auto;
  bottom: 100%;
  height: fit-content;
  max-height: 500px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid lightgray;
  overflow: scroll;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 10px;
}

.drop-text {
  margin-left: 10px;
}
