.size-25 {
  width: 25px;
  height: 25px;
}

.choose-box {
  display: flex;
  justify-content: center;
  width: fit-content;
  flex-direction: column;
} 

.check-box-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  max-width: 300px;
}

.center {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  padding-left: 15px;
}

input {
  max-width: 350px;
}

label {
  max-width: 350px;
}

.radio-box {
  width: 300px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
